<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reserve Room</title>
    </head>
    <body>
        <h1>Schedule Meeting</h1>
        <form method="post" action="{% url 'book_reservation' %}">
            {% csrf_token %} {{ form.as_p }}
            <div>
                {% if has_time_conflict %} 
                    <p>Error. Room is unavailable. Please try again. </p>
                {%endif%}
            </div>

            <button type="submit">Submit</button>
        </form>
    </body>
</html>
